{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
  We have variety of products.
{% endblock %}

{% block title %}
  Search
{% endblock %}

{% block content %}
<div>
  <p class="text-center my_search_text">You are searched for :<b>"{{query}}"</b></p>
</div>

<div class="container">
    <div class="row mx_auto">
        {% for product in products %}
        <div class="my_bottom margin col-9 col-sm-12 col-md-3 xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
            <a href="{{product.get_url}}"><img class="card-img-top " src="{{product.img.url}}" alt="{{product.name}}" width="150px" height="150px;"></a>
                <div class="card-body">
                    <h4 >{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx_auto">
          <p class="text-center my_search_text">0 Result Found</p>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}