{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <form action="/login/" method="POST">
          {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example1"><b>Email address</b></label>
              <input type="email" id="form2Example1" class="form-control" name="email" required=""/>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example2"><b>Password</b></label>
              <input type="password" id="form2Example2" class="form-control" name="password" required=""/>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
              </div>

            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" value="Login">Sign in</button>
            <a href="{% url 'vehapp:register' %}" style='color:red;'>If not Registered,Register Now</a>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

{% endblock %}